.superpowers/
.worktrees/
node_modules/
/public/pdfjs/
.next/
.next-e2e/
.next-local/
.next-metas/
.next-release/
.next-motion-build/
.next-supabase/
.env
prisma/*.db
tsconfig.tsbuildinfo
playwright-report/
test-results/
.vercel
.env*
